
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .dvItemofAbout {
        margin-bottom: 50px;
        margin-top: 50px;
    }
</style>
<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">

            <div class="row">

                <div class="col col-lg-12 dvItemofAbout">
                    <h1>The Story of Us</h1>
                <hr />
                    <div class="col col-lg-12 dvItemofAbout">

                        <div class="row">
                            <div class="col col-lg-6 col-sm-12">

                                <img src="~/Dist/img/sigma - 512.png" />
                            </div>
                            <div class="col col-lg-6 col-sm-12">
                                <br />
                                <strong>* A Basic Learning Project.</strong>
                                <br /> <hr />
                                <ul>
                                    <li> Asp.net MVC</li>
                                    <li> N-Tier</li>
                                    <li> Unit Of Work</li>
                                    <li> Generic Repository Pattern</li>
                                    <li> Entity Framework Code First</li>
                                    <li> Login System</li>
                                    <li> Global Filters </li>
                                    <li> Dependency Injection With Simple Injector </li>
                                    <li> Bootstrap</li>
                                    <li> Jquery</li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>  <!-- /inside .row -->
            </div> <!-- /.col-lg-12 -->
        </div> <!-- /main row -->
    </div> <!--container div-->
</div>
